<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
</head>
<body>
<header class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" th:fragment="header" style="width: 100%;margin: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" style="width: 100%;margin: 0;">
  <div class="container-fluid" style="width: 100%;margin: 0;">
  <img th:src="@{/images/favicon.png}" width="65" height="65" fill="currentColor" class="bi bi-layers-half" viewbox="0 0 16 16">
  </img>
    <a class="navbar-brand" th:href="@{/home}" style="margin-left: 18px;">Gestión Libros</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/admin/users/listUsers}">Usuarios
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/admin/libros/listLibros}">Libros
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        </ul>
        <ul class="navbar-nav me auto">
        <li sec:authorize="!isAuthenticated()" class="nav-item" style="text-align: right">
        <a class="nav-link" th:href="@{/auth/login}">
			<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Log in"><i class="fa-solid fa-arrow-right-to-bracket" style="color:white"></i></button>
		</a>
        </li>

        <li sec:authorize="isAuthenticated()" class="nav-item" style="text-align: right">
          <a class="nav-link" th:text="'Hello ' + ${#authentication.name}"></a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item" style="text-align: right">
          <form class="form-inline" th:action="@{/auth/logout}" method="post">
              <button type="button" class="btn btn-default" data-toggle="modal"
                      data-placement="bottom" title="Log Out"
                      th:data-target="'#logout-modal'">
                  <i style="color: white"
                     class="fa-solid fa-arrow-right-from-bracket"></i>
              </button>
              <div class="modal fade" th:id="'logout-modal'"
                   tabindex="-1" role="dialog" aria-labelledby="logout-modal-label">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">&iquest;Est&aacute; seguro?</h5>
                              <button type="button" class="close" data-dismiss="modal"
                                      aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">Selecciona "Confirmar" para cerrar sesi&oacute;n.</div>
                          <div class="modal-footer">
                              <form
                                      th:action="@{/auth/logout}"
                                      method="post">
                                  <button type="button" class="btn btn-secondary"
                                          data-dismiss="modal">Cancelar</button>
                                  <button type="submit" class="btn btn-primary">Confirmar</button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>

		</form>
        </li>
      </ul>
        
     
    </div>
  </div>
</nav>
  </header>
</body>
</html>