<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
</head>
<body>
<header class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" th:fragment="header" style="width: 100%;margin: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" style="width: 100%;margin: 0;">
  <div class="container-fluid" style="width: 100%;margin: 0;">
  <img th:src="@{/images/favicon.png}" width="65" height="65" fill="currentColor" class="bi bi-layers-half" viewbox="0 0 16 16">
  </img>
    <a class="navbar-brand" th:href="@{/home}" style="margin-left: 18px;">Gestión Libros</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/admin/users/listUsers}">Usuarios
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/admin/libros/listLibros}">Libros
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        </ul>
        <ul class="navbar-nav me auto">
        <li sec:authorize="!isAuthenticated()" class="nav-item" style="text-align: right">
        <a class="nav-link" th:href="@{/auth/login}">
			<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Log in"><i class="fa-solid fa-arrow-right-to-bracket" style="color:white"></i></button>
		</a>
        </li>

        <li sec:authorize="isAuthenticated()" class="nav-item" style="text-align: right">
          <a class="nav-link" th:text="'Hello ' + ${#authentication.name}"></a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item" style="text-align: right">
          <form class="form-inline" th:action="@{/auth/logout}" method="post">
			<button class="btn btn-link" type="submit"  data-toggle="tooltip" data-placement="bottom" title="Log out"><i style="color:white" class="fa-solid fa-arrow-right-from-bracket"></i></button>
		</form>
        </li>
      </ul>
        
     
    </div>
  </div>
</nav>
  </header>
</body>
</html>